.item {
  border-bottom: 1px solid #d1d1d1;
  list-style: none;
  padding: 16px 0;
  user-select: none;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 57px;
    background-color: #e3e3e3;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }

  .arrow {
    transition: transform 0.5s;
  }

  .skeleton {
    background-color: #474747;
    border-radius: 4px;
    animation: pulse 1.0s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}
