.container {
  display: flex;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 68px;
  padding: 13.5px 24px;
  gap: 8px;
}

.magnifer {
  display: flex;
  align-items: center;
  justify-content: center;
}
